
.main {
  /* margin: auto; */
  border: 1px solid black;    
  /* width: 500px; */
  height: 100px;  
  overflow-y: scroll;
  /* top: 100%; */
}

.icons {
  height: 10px;
  width: 10px;
  text-align: right;
}

.icon-vis {
  visibility: hidden;
}

.messageString {
  display: inline-block;  
}

.icons {
  float: right;
}

html, body, .my-wrapper {
  height: 100%;
}

.message-box {
  float:left;
  height: 400px;
}

.messages {
    height: 400px;
}
